/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Exo+2:100,200,700,800,900);

/* Type */

body{ 
	font-family: 'Dosis', sans-serif;
	color: #231f20;
}
h1,h2,h3,h4,h5 { 
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
}
h1{
	font-size: 38px;
}

.sub-title{
	font-size: 21px;
}
/* Defaults*/
body{
	padding-top: 60px;
}
b, strong {
	font-weight: 700;
}

button > img,
a.btn > img{
	vertical-align: text-bottom;
}
/* Custom button
==================== */

/* Override base .btn styles */
/* Apply text and background changes to three key states: default, hover, and active (click). */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: none;
  background-color: #f54500;
  border-radius: 0;
  font-weight: 500;
  box-shadow: 2px 2px 1px 0px #085680;
  font-size: 16.5px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

/* Apply the custom-colored gradients */
/* Note: you'll need to include all the appropriate gradients for various browsers and standards. */
.btn-ttc {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #f54500 0%, #f54500 100%);
}

/* Set the hover state */
/* An easy hover state is just to move the gradient up a small amount. Add other embellishments as you see fit. */
.btn-ttc:hover {
  margin-top: -2px;
  margin-left: -2px;
  padding: 10px 16px;
  border-radius: 3px;
}
.btn-ttc:focus {
  color: white;
}
/* Blue button 
==================*/
.btn-ttc-blue,
.btn-ttc-blue:hover,
.btn-ttc-blue:active {
  color: white;
  text-shadow: none;
  padding: 7px 14px;
  background-color: #0c86c6;
  border-radius: 2px;
  font-weight: 300;
  box-shadow: 1px 1px 1px 0px #085680;
  font-size: 16.5px;
  letter-spacing: -0.015em;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.btn-ttc-blue {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #0c86c6 0%, #0c86c6 100%);
}
.btn-ttc-blue:hover {
  margin-top: -2px;
  margin-left: -2px;
  padding: 10px 16px;
  border-radius: 3px;
}
.btn-ttc-blue:focus {
  color: white;
}
.btn-ttc-blue>img{
	margin-right: 6px;
	padding-bottom: 2px;
}
/* Payment-plan Option Buttons 
==================================*/
.section-pricing .btn-group{
	background-color: #dbd9da;
	border-radius: 5px;
	padding: 2px 2px 4px 2px;
}
.btn-payment-plan,
.btn-payment-plan:active{
	font-size: 16px;
	box-shadow: none;
	-webkit-box-shadow:none;
    color: #231f20; 
}
.btn-payment-plan{
	padding: 6px 18px;
}
.btn-payment-plan.active{
	padding: 6px 16px;
	color: white;
	text-shadow: none;
	background-color: #f54500;
	border-radius: 2px!important;
	font-weight: 500;
	box-shadow: 1px 1px 1px 0px #a62f00;
}

/* NavBar 
==============*/
.navbar{
	border-radius: 0;
	border-width: 0;
    min-height: 60px;
    box-shadow: 3px 3px 0px #bfbfbf;
}
.navbar-toggle {
	border: 0px solid transparent;
	display: block;
	margin-right: 0;
	padding: 14px 19px 8px 19px;
}
.navbar-toggle .icon-bar {
	height: 6px;
	width: 30px;

}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-brand {
	float: none;
	padding: 15px;
	font-size: 18px;
	line-height: 20px;
	height: 50px;
}
.navbar-brand img{
	margin-top: -65px;
	width: 126px;
}
.navbar-header {
	float: none;
	display: block;
}
.navbar .center-logo-holder{
	position: absolute;
	overflow: hidden;
	height: 60px;
	top: 0;
	margin: 0 auto;
	width: 175px;
	left: 50%;
	margin-left: -87px;
}
.navbar .center-logo{
	width: 148px;
	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -74px;
	text-align: center;
}
.navbar .center-logo .logo-img{
	margin-left: 11px;
}
.navbar .facebook-input-holder{
	width: 550px;
	position: absolute;
	top: -50px;
	right: 50%;
	margin-right: -275px;
}
.navbar .facebook-input-holder .btn-ttc{
	box-shadow: 2px 2px 0px rgba(0,0,0,0.25);
	width: 150px;
	height: 37px;
	margin-left: 5px;
	font-size: 16px;
}
.navbar .facebook-input-holder #main_search_box2.form-control{
	width: 390px;
	height: 37px;
	border:0;
	border-radius: 0;
	font-size: 16px;
}

.navbar .back-btn-holder{
	padding-top: 10px;
	padding-left: 30px;
}

/* Sections 
=================*/

section .section-pricing{ background-color: #f2f0f1;}

section .section-pricing h1.title{
	margin-top: 23px;
	margin-bottom: 5px;
}
section .section-pricing p.sub-title{
	margin-top: 0px;
	margin-bottom: 13px;
}

/* Pricing Table 
==================*/
.pricing-table{
	margin-top: 95px;
	max-width: 830px;
}
.pricing-table > div{
	border-radius: 2px;
}
.pricing-table h1{
	font-family: 'Exo 2', sans-serif;
	font-weight: 200;
	font-size: 41px;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 8px;
}
.pricing-table strong{
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
}
.pricing-table sup, sub{
	font-family: 'Exo 2', sans-serif;
	font-weight: 200;
	font-size: 16px;
}
.pricing-table sup{
	top: -1.3em;
}
.pricing-table sub{
	bottom: 0;
}
.pricing-table .table-header{
	margin: -20px -15px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.pricing-table .table-header p{
	font-size: 16px;
	margin-bottom: 13px;
}
.pricing-table .table-header h1 strong{
	font-size: 47px;
}
.pricing-table .table-content{
	margin-top: 10px;
}
.pricing-table .table-content ul{
	
}
.pricing-table .table-content ul li{
	text-align: left;
	font-size: 16px;
	padding: 9px 0px;
	list-style-type: square;
}
/* - VIP - */
.vip-table{
	margin-left: -25px;
	width: 270px;
	background-color: #dbd9da;
}
.vip-table-header{
	color: #fff;
	background-color: #231f20;
}
.vip-table-content{
	background-color: #dbd9da
}
/* - Business - */
.business-table{
	margin-top: -25px;
	padding-bottom: 35px!important;
	width: 330px;
	background-color: #fff;
	box-shadow: 3px 3px 0px #dbd9da;
}
.business-table-header{
	padding-top: 35px!important;
	color: #fff;
	background-color: #f54500;
}
.business-table-content{
	
}
/* - Free - */
.free-table{
	width: 230px;
	background-color: #dbd9da;
}
.free-table-header{
	color: #fff;
	background-color: #666161;
}
.free-table-content{
	background-color: #dbd9da
}