a {	color: #154399;}

#offer a.secondary{	border-bottom: 1px solid #154399;}

h1 span, h2 span, h3 span, h4 span{ color: #154399;}

table.compare thead td.mytd{ color: #154399;}

#logo a span{ color: #154399;}

#topcontacts span{ color: #154399;}

#bottompromo .bpleft span{ color: #154399;}

#testi-monials li .testicontent span{ color: #154399;}