@font-face {
    font-family: 'aller';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aller_bd-webfont.svg') format('svg'),
    url('../fonts/aller_bd-webfont.woff') format('woff'),
    url('../fonts/aller_bd-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'aller';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aller_lt-webfont.svg') format('svg'),
    url('../fonts/aller_lt-webfont.woff') format('woff'),
    url('../fonts/aller_lt-webfont.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
    font-family: 'aller';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/aller_rg-webfont.svg') format('svg'),
    url('../fonts/aller_rg-webfont.woff') format('woff'),
    url('../fonts/aller_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.tb #main-content{font-family: 'aller','Open Sans', sans-serif; font-size:18px; color:#1f1a18; background-color: #fcf8f5;}
#main-content header{background-color: #3d3531;height:60px;background-image: url(../images/team.png); background-position: bottom right; background-repeat: no-repeat;}
h1.entry-title{font-size: 39px; color:#fcf8f5;}
.tb #main-content {background-image:url(../images/tablet-dude.png); background-position: bottom right;}